#menu, #banner {
    display: none;
}

#btnmenu{
    display: block;
}

header {
	position: static;
}

nav ul li{
	display: block;
	list-style: none;
}

nav ul li a{
	width: 100%;
	text-align: center;
	padding: 10px 0px 10px 0px;
	text-decoration: none;
	float: left;
}

.colunas, #contato, .form {
	width: 100%;
}

.portfolio {
  width: 50%;  
}

.container {
	width: 90%;
	margin: 10px;
}

.redondo {
	border-radius: 50%;
}